@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
    --background: rgb(36, 36, 36);
    --subBackground: rgb(23, 23, 23);
    --subBackground-s: rgb(0,0,0);
    --sombra: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.632));
    --text-color: #fff;
    --subText-color: #3a3a3a;

  }

body{
    background-color: var(--background);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}
