





/* Exit Modal */


.modalExit{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
    box-sizing: border-box;
}


.modalExit button{
    background-color: #CD1616;
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 6px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.44));
}
