.x-NavBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--subBackground);
    height: 50px;
    display: flex;
    z-index: 3;
}

.x-NavBar-B{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.x-NavBar-Add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 60px;
    left: 0;

}

.x-NavBar-Add-act{
    color: var(--text-color);
    background-color: var(--subBackground);
    box-sizing: border-box;
    font-size: 30px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}