body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Area Mobile */

.areaMobile{
    height: 100vh;
    width: clamp(200px, 100%, 600px);
}

/* Area Mobile */
