:root{
    --x-addimage-tamanho: 55px;
}

.x-addimage{
    width: 100%;
    height: var(--x-addimage-tamanho);
    position: fixed;
    bottom: 130px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.x-addimage-add{
    width: calc(var(--x-addimage-tamanho) * 0.95);
    height: calc(var(--x-addimage-tamanho) * 0.95);
    background-color: var(--subBackground);
    border-radius: 100%;
    font-size: calc(var(--x-addimage-tamanho) * 0.65);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-addimage-images{
    margin-top: 80px;;
    width: 100%;;
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    flex-direction: column;
}


.x-addimage-image{
    width: 80%;
    margin: 30px 0;
    position: relative;
}

.x-addimage-image img{
    width: 100%;
    border-radius: 15px;
    filter: var(--sombra);
}

.x-addimage-image-bio{
    position: absolute;
    top: -18px;
    left: -10px;;
    width: 100px;
    height: 100px;
    /* background-color: var(--subBackground); */
    filter: var(--sombra);
    border-radius: 7px;
}

.x-addimage-image-bio-desc{
    color: #fff;
}

.x-addimage-image-bio-picture{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.x-addimage-form-area{
    width: 80%;
    /* height: 200px;; */
    background-color: var(--subBackground);
    filter: var(--sombra);
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.x-addimage-label{
    color: var(--text-color);
    font-size: 40px;
    /* margin-bottom: 50px; */
}


