.x-modal-add-event{
    height: 50px;
    border-radius: 10px;
    position: fixed;
    bottom: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-modal-add-event-button{
    background-color: var(--subBackground);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
}



/* MODAL */


.x-modal-add-event-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.514);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.x-modal-add-event-modal-containter{
    width: 90%;
    height: 400px;
    background-color: var(--subBackground);
}